@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,600);body {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

section {
  margin-top: 60px;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #041F1E;
  font-size: 30px;
}

.kicker {
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  color: #F45866;
}

form input {
  margin-top: 40px;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1.5px solid #ccc;
  outline: none;
  color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
  margin-bottom: 10px;
}

form input:focus {
  color: #041F1E;
  border-color: #041F1E;
}

form .btn_create {
  text-transform: uppercase;
  padding: 8px 30px;
  background: transparent;
  font-weight: bold;
  color: #d9534f;
  border: 3px solid #d9534f;
  -webkit-transition: .3s;
  transition: .3s;
}

form .btn_create:hover {
  background: #d9534f;
  border-color: #d9534f;
  color: white;
}

